
@{
    ViewBag.Title = "Create";

}
<style>
    form {
        font-family: 'Open Sans';
        background-color: #FFFAF0;
    }
</style>

<form action="SaveData">
    <label>FirstName</label>
    <input type="text" name="FirstName" class="form-control" />
    <label>LastName</label>
    <input type="text" name="LastName" class="form-control" /><br /><br />
    <label>Phone</label>
    <input type="number" name="Phone" class="form-control" /><br /><br />
    <input type="submit" name="submit" class="btn btn-success" value="Save" />
</form>

